button{
    border-radius: 5px;
    background-color: coral;
}

.libraryBooks{
    background-color: lightyellow;
}

.writingBook,.loadingBook{
    display: none;
}

.displayBlock{
    display: block;
}

.displayNone{
    display: none;
}

.displayEditBook{
    display: none;
}

.container {
    width: 500px;
}

.editBook{
    display: none;
    border: 2px solid green;
}

.dropdownarea{
    width: 100%;
    height: 100px;
    background-color: bisque;
    border: 2px solid green;
}   

.dropdownareaBooks{
    width: 100%;
    height: 100px;
    background-color: bisque;
    border: 2px solid green;
}   

.dropdownareaOver{
    background-color: gray;
}

.oneFavoriteBook{
    background-color: lightgreen;
margin-top: 1%;
margin-bottom: 1%;
border: 1px solid green;
}

.oneBook{
    background-color: lightskyblue;
margin-top: 1%;
margin-bottom: 1%;
border: 1px solid blue;
}